*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-full{
    height: 47px;
    width: 100%;
    background-color: rgb(66,66,66);
    padding: 5px 225px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.item-left{
    height: 36px;
    width: auto;
    color: rgb(255, 255, 255);
    display: flex;
}

.item-child-left ~ .ad{
    min-width: 70px; 
}

.item-child-left{
    height: 30px;
    width: auto;
    padding: 0 16px;
    padding-top: 3.5px ;
    border: none;
    border-radius: 6px;
    margin-top: 3px;
    margin-left: 10px;
    cursor: pointer;
    
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.item-child-left:hover{
    border: none;
    border-radius: 5px;
    background-color: rgb(85, 85, 85);
    cursor: pointer;
}

.item-child-left:active{
    color: rgb(29, 29, 29);
    background-color: rgb(153, 153, 153);
    cursor: pointer;
}

/*เป็นการปรับขนาดรูป icon ต่างๆ*/

.logo-Nav{
    height: 29px;
    width: auto;
    margin-top: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.vector-Nav{
    height: 15px;
    width: auto;
    margin: 8px;
}

.coins-Nav{
    height: 30px;
    width: auto;
    margin-top: 3px;
}

.cloud-Nav{
    height: 30px;
    width: auto;
    margin-top: 3px;
    margin-left: 8px;
    cursor: pointer;
}

.notification-Nav {
    position: relative;
    height: 23px;
    width: auto;
    cursor: pointer;
}

.reletive {
    position: relative;
    height: 28px;
}

.notification-amount {
    position: absolute;
    overflow: hidden;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-top: 0;
    padding-left: 3px;
    padding-bottom: 3px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(255, 44, 44);
    cursor: pointer;
}

.profile-user {
    border-radius: 6px;
    height: 35px;
    width: auto;
    margin-left: 18px;
    cursor: pointer;
}

.profile-user:hover{
    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255))
}

.profile-user-active {
    border-radius: 6px;
    height: 35px;
    width: auto;
    margin-left: 18px;
    cursor: pointer;
    filter: none;
    outline: 2px solid rgb(255, 255, 255); 
}

.profile-user:active{
   filter: none;
   outline: 2px solid rgb(255, 255, 255); 
}

/*--- จบการตั้งค่ icon---*/
/*กำหนดค่าของ center*/
.item-center{
    height: 30px;
    width: 480px;
    min-width: 250px;
    border: none;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    background-color: rgb(233, 233, 233);
    display: flex;
}

.input-search{
    font-size: 16px;
    color: rgb(56, 56, 56);
    height: auto;
    width: 91%;
    background-color: transparent;
    border: none;
    outline: none;
}

::placeholder{
    font-size: 13px;
}
/*กำหนดค่าให้กับ inputเพื่อเปลี่ยนรูปแบบ*/
.item-right{
    height: 36px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}
/*กำหนดค่าของ right*/

.box-coins{
    display: flex;
}

.mar-top{
    margin-top: 7px;
    margin-left: 6px;
}

.notification-setting-size {
    height: 23px;
    width: 23px;
    margin-top: 6px;
    margin-left: 20px;
}

.notification-setting-size {

}

@media only screen and (max-width: 1624px){
    .navbar-full{padding: 5px 100px;}
}

@media only screen and (max-width: 1310px){
    .navbar-full{padding: 5px 100px;}
    .div-coins{display: none;}
    .notification-setting-size{margin-left: 7px;}
    .item-child-left{
        font-size: 12px;
        padding-top: 6.5px;
        margin-left: 3px;}
    
}

@media only screen and (max-width: 897px) {
    .item-child-left{display: none;}
}

@media only screen and (max-width: 677px) {
    .cloud-Nav{display: none;}
    .coins-Nav{display: none;}
}