body {
  overflow: overlay;
  font-family: 'Inter', sans-serif;
  font-family: 'Prompt', sans-serif;
}

::-webkit-scrollbar {
  width: 0.7em;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(204, 204, 204, 0.486);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
  border-radius: 6px;
  border: 0.09px solid #fff;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(117, 117, 117);
  border-radius: 6px;
}